*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.main-nav{
    width: 100%;
}
.navdx,.navsx{
    width: 50%;
    display: inline-block;
    float: left;
    padding: 20px;
}
.navdx ul li, .navdx ul, .navsx img, .navsx ul, .navsx ul li{
    display: inline-block;
    vertical-align: middle;
}
.navdx{
    text-align: right;
}
.navsx img, .navsx ul li, .navdx ul li, .navdx a{
    padding-right: 25px; ;
}
.bottone{
    text-decoration: none;
    color: #ffffff;
    background-color: #0061ff;
    padding: 5px 20px;
    font-size: 14px;
}
.hero{
    background-color: #b4d0e7;
    height: 740px;
    width: 100%;
}
.center-container{
    width: 80%;
    margin: auto;
    padding-top: 60px;
}
.center-container h1{
    font-size: 75px;
}
.hero-text, .hero-img{
    display: inline-block;
    float: left;
    margin-top: 50px;
}
.hero-img{
    width: 65%;
}
.hero-img img{
    height: 500px;px;
}
.hero-text{
   width: 35%;
   padding-right: 80px;
}
.hero-text a{
    margin-top: 30px;
    display: inline-block;
    margin-bottom: 10px;
}
.hero-text p,.hero-text .sottotitolo{
    font-weight: bold;
    font-size: 16px;
}
.freccia{
    margin-top: 40px;
    font-size: 40px;
}
main div h2{
    padding-top: 50px;
    font-size: 30px;
}
.center-container2{
    width: 60%;
    margin: auto;
    padding-top: 60px;
}
.input-main{
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative;
}
.col-sx,.col-cen,.col-dx{
    width: 33,33%; 

}
.header-table{
    border: 1px solid grey;
}
.corpo-colonna ul{
    list-style: none;
    padding-left: 10px;
}
.corpo-colonna h3{
    margin: 20px 0 10px 0;
}

