*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.main-nav{
    width: 100%;
}
.navdx,.navsx{
    width: 50%;
    display: inline-block;
    float: left;
    padding: 20px;
}
.navdx ul li, .navdx ul, .navsx img, .navsx ul, .navsx ul li{
    display: inline-block;
    vertical-align: middle;
}
.navdx{
    text-align: right;
}
.navsx img, .navsx ul li, .navdx ul li, .navdx a{
    padding-right: 25px; ;
}
.bottone{
    text-decoration: none;
    color: #ffffff;
    background-color: #0061ff;
    padding: 5px 20px;
    font-size: 14px;
}
.hero{
    background-color: #b4d0e7;
    height: 740px;
    width: 100%;
}
.center-container{
    width: 80%;
    margin: auto;
    padding-top: 60px;
}
.center-container h1{
    font-size: 75px;
}
.hero-text, .hero-img{
    display: inline-block;
    float: left;
    margin-top: 50px;
}
.hero-img{
    width: 65%;
}
.hero-img img{
    height: 500px;px;
}
.hero-text{
   width: 35%;
   padding-right: 80px;
}
.hero-text a{
    margin-top: 30px;
    display: inline-block;
    margin-bottom: 10px;
}
.hero-text p,.hero-text .sottotitolo{
    font-weight: bold;
    font-size: 16px;
}
.freccia{
    margin-top: 40px;
    font-size: 40px;
}
main div h2{
    padding-top: 50px;
    font-size: 30px;
}
.center-container2{
    width: 60%;
    margin: auto;
    padding-top: 60px;
    
}
.input-main{
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative;
}
.col-sx,.col-cen,.col-dx{
    width: calc(33% - 5%); 
    min-height: 1000px;
    float: left;
    border: 1px solid #d0d0d3;
    margin-right: 5%;

}
.header-table{
    border-bottom: 1px solid #d0d0d3;
    text-align: center;
    padding: 5px;
}
.corpo-colonna ul{
    list-style: none;
    margin-top: 50px;
}
.corpo-colonna h3{
    margin: 20px 0 10px 0;
}
.corpo-colonna{
    width: 90%;
    margin: auto;
}
.costo-mensile{
    font-weight: bold;
    margin-bottom: 5px;
}
.mensile{
    color: grey;
    font-size: 13px;
}
.corpo-colonna ul li{
    margin-bottom: 20px;
}
.corpo-colonna .bottone{
    margin-top: 50px;
}
.acquista-ora{
    line-height: 80px;
    vertical-align: middle;
    font-size: 14px;
    

}
.oppure{
    border-bottom: 1px solid #d0d0d3;
}
.acquista-ora .acquista{
    color: #0061ff;
    border: none;

}
.oppure,.acquista{
    display: inline-block;
}
.corpo-colonna h4{
    padding-top: 30px;
}
.lista2 li i {
    color: #0061ff;
}
.text-sezione3{
    font-size: 13px;
}
.col-sx-sez3{
    width: 70%;
}
.col-dx-sez3{
    width: 30%;
   position: relative;
}
.col-sx-sez3,.col-dx-sez3{
    float: left;
}
.box-bottone{
    position: relative;
    top: 20px;
}
.header-table-bordo{
    border: 1px solid #d0d0d3;
}
.container-sezione3{
    border: 1px solid #d0d0d3;
    min-height: 150px;
}
.img-big{
    width: 60%;
}
.img-big img{
    height: 450px;
}
.text-sezione4{
    width: 40%;
}
.img-big,.text-sezione4{
    float: left;
}
.bottone-bianco{
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    padding: 5px 20px;
    font-size: 14px;
    border: 1px solid black;
}
.text-sezione4 div{
    padding: 30px 0;
    font-size: 14px;
}
.text-sezione4{
    position: relative;
}
.text-sezione4 h3, .text-sezione4 div, .text-sezione4 a{
    position: relative;
    top: 30px;
}